.container{
			margin: 80px auto;
			text-align: center;
		}
		input[type=text]{
			outline: none;   
    	border: 1px solid #fff;
    	height: 35px;
    	width: 80%;
    	border-radius: 25px;
    	text-align: center;
		}
		.tips{
			width: 80%;
			margin:20px auto;
			padding: 8px 5px;
			font-size: 13px;
			background: #999;
			border-radius: 10px;
		}
		.btn-round{
			display: block;
    	margin: 0 auto;
    	background-color: #f3c12e;
    	height: 37px;
    	line-height: 37px;
    	width: 80%;
    	border-radius: 25px;
    	font-size: 13px;
    	text-align: center;
		}
		a {
			color: black;
	    text-decoration: none;
	    &:hover, &:active {
      text-decoration: none;
    }
	  }
		body{
			background-color:#2f3140;
		}